@page
@model AuthenticationAndAuthorization.hasona23.Components.SleepTracker.IndexModel


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SleepRecordModel[0].StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SleepRecordModel[0].EndTime)
            </th>
            <th>
                <a asp-page="Create" class="btn btn-primary" title="Add"><i class="fa fa-plus"></i></a>
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.SleepRecordModel)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-warning" title="Edit"><i class="fa-solid fa-pen"></i></a> |
                <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-info" title="Details"><i class="fa-solid fa-book"></i></a> |
                <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger" title="Delete"><i class="fa-solid fa-trash"></i></a>
            </td>
        </tr>
    }
    </tbody>
</table>
